.about-container{
  height:fit-content;
  width:65vw;
  display: inline-block;
  position: relative;
  margin-top:5vh;
  left:5vw;
}

.about-header{
  position: relative;

}

.about-image{
  display: inline;
  position: relative;
  padding:1%;
  float:right;
}

.about-text{
  display: inline;
  position: relative;
  white-space: pre-line;
  clear:right;
}

.about-social{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top:5vh;
}

.social-item{
  font-size: 5vh !important;
  margin-right: 2vw;
  color:black;
}

.social-item:hover{
  color: gray;
}

@media screen and (min-width:1024px) {
  .about-container{
    width:65vw !important;
  }
}

@media screen and (min-width:320px) {
  .about-container{
    width:90vw;
    height:fit-content;
    bottom:5vh;
  }
  .about-header{
    font-size:3vh;
  }

  .about-image{
    width:50%;
  }
  .about-text{
    font-size:2vh;
  }

  .about-social{
    top:2vh;
  }

  .social-item{
    font-size: 3vh !important;
    display: block;
    position: relative;
  }
}
