
  html, body{
    margin:0;
    padding:0;
    top:0;
    display: flex;
    flex-direction: column;
  }

  header{
    background-image: linear-gradient(180deg, rgb(184 184 184), rgba(255, 255, 255, 0) 70%);
    height:10vh;
    width:100vw;
    display: flex;
    flex-direction: row;
    position: absolute;
    top:0;
  }

  .header-text{
    margin-top:4vh;
    margin-left:5%;
    width:50vw;
    display: inline;
    text-decoration: none;
    color:black;
  }

  .header-text:hover{
    color:gray;
  }

  nav{
    display: inline-flex;
    justify-content: flex-end;
    position:relative;
    width:40vw;
    margin-top:6vh;
  }

  .nav-item{
    margin-right:2vw;
    text-decoration: none;
    position: relative;
    right:5vw;
    color: gray;
  }

  .nav-item:hover{
    color:black;
    font-size:3vh;
    transition: 1s;
  }

  main{
    position: relative;
    display: block;
    top:20vh;
    height:fit-content;
    bottom:0;
    margin-bottom:20vh;
  }



  .blog-posts{
    display: inline-block;
    position: relative;
    float:left;
    width:55vw;
    left: 5vw;
  }

  .sidebar{
    display: inline-block;
    position: relative;
    float:right;
    width:25vw;
    height:150vh;
    right:5vw;
  }

  .sidebar-about{
    width:90%;
    height:50vh;
    display: block;
    position: relative;
    left: 5%;
    top:5%;
  }

  .sidebar-about-header{
    width:100%;
    position: relative;
    text-align: center;
    top:2%;
  }

  .sidebar-about-img{
    width:50%;
    position: relative;
    left:25%;
    top:5%;
    border-radius: 50%;
  }

  .sidebar-about-text{
    font-size:2vh;
    position: relative;
    left: 5%;
    top:10%;
    word-wrap: break-word;
    width:90%;
  }

  .sidebar-recent{
    width:90%;
    height:55vh;
    position: relative;
    display: block;
    left:5%;
    top:10%;
  }

  .sidebar-recent-header{
    position: relative;
    width:100%;
    text-align: center;
    top:2%;
  }

  .sidebar-recent-posts{
    display: block;
    position: relative;
    left:5%;
    margin-top:10%;
    color:gray;

  }

  .sidebar-recent-posts-date{
    position: relative;
    left:5%;
    color:lightgray;
  }

  .sidebar-search{
    width: 90%;
    height:3%;
    position: relative;
    left:5%;
  }

  .sidebar-searchbar{
    width:70%;
    height:100%;
    position: relative;
    display: inline;
    left:5%;
    margin: 0;
    padding: 0;
    float:left;
    border-radius: 0;
    border: none;
  }

  .sidebar-search-icon{
    height:100% !important;
    width:20%;
    background-color: gray;
    border: none;
    display: inline;
    position: relative;
    height:inherit;
    cursor:pointer;
    padding:3%;
    margin: 0;
    float:right;
    right:5%;
  }

  .sidebar-search-icon:hover{
    background-color: lightgray;
  }

  .sidebar-newsletter{
    width:90%;
    height:30vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    left:5%;
    top:15%;
  }

  .sidebar-newsletter-header{
    position: relative;
    width:100%;
    text-align: center;
    bottom:2vh;
  }

  .sidebar-newsletter-input{
    position:relative;
    display: inline;
  }

  .sidebar-newsletter-submit{
    position: relative;
    display: inline;
    top:2vh;
  }

  footer{
    position: relative;
    display: block;
    height:10vh;
    bottom:0;
  }

  .copyright{
    position: relative;
    display: inline-block;
    left:2vw;
  }

  .footer-links{
    display: inline-flex;
    position: relative;
    float:right;
    right:5vw;
  }

  .footer-item{
    margin-left:2vw;
    text-decoration: none;
    color:gray;
  }

  .footer-item:hover{
    color:black;
  }

@media screen and (min-width:1024px) {

  .header-text{
    font-size: auto !important;
  }

  .blog-posts{
    width:55vw !important;
  }

  .sidebar{
    display: inline-block !important;
  }

  footer{
    height:10vh !important;
  }

  .footer-links{
    width:50% !important;
    justify-content: flex-end !important;
  }

}

@media screen and (min-width:320px){

  header{
    width:110vw;
  }

  .header-text{
    font-size: 6vw;
  }

  .blog-posts{
    width:100vw;
  }

  .sidebar{
    display:none;
  }

  footer{
    height:5vh;
    font-size: 2vh;
  }

  .footer-links{
    width:100%;
    justify-content: center;
  }
}
