


  html, body{
    margin:0;
    padding:0;
    top:0;
    display: flex;
    flex-direction: column;
  }

  header{
    background-image: linear-gradient(180deg, rgb(184 184 184), rgba(255, 255, 255, 0) 70%);
    height:10vh;
    width:100vw;
    display: flex;
    flex-direction: row;
    position: absolute;
    top:0;
  }

  .header-text{
    margin-top:4vh;
    margin-left:5%;
    width:40vw;
    display: inline;
    text-decoration: none;
    color:black;
  }

  .header-text:hover{
    color:gray;
  }

  nav{
    display: inline-flex;
    justify-content: flex-end;
    position:relative;
    width:50vw;
    margin-top:6vh;
  }

  .nav-item{
    margin-right:2vw;
    text-decoration: none;
    position: relative;
    right:5vw;
    color: gray;
  }

  .nav-item:hover{
    color:black;
    font-size:3vh;
    transition: 1s;
  }

  .logged-header{
    color:gray;
    margin-right:2%;
  }

  .logout{
    text-decoration: none;
    color:black;
  }

  .logout:hover{
    color:gray;
  }

  main{
    position: relative;
    display: block;
    top:20vh;
    height:fit-content;
    bottom:0;
    margin-bottom:25vh;
  }



  .blog-posts{
    display: inline-block;
    position: relative;
    float:left;
    width:55vw;
    left: 5vw;
  }

  .sidebar{
    display: inline-block;
    position: relative;
    float:right;
    width:25vw;
    height:150vh;
    right:5vw;
  }

  .sidebar-about{
    width:90%;
    height:fit-content;
    display: block;
    position: relative;
    left: 5%;
    top:5%;
    padding:5%;
  }

  .sidebar-about-header{
    width:100%;
    position: relative;
    text-align: center;
    top:2%;
  }

  .sidebar-about-image-container{
    width:9vw;
    height:9vw;
    border-radius: 50%;
    overflow:hidden;
    text-align: center;
    margin-left:25%;
    background-image: url("https://cdn.cameronscholes.com/images/blog/about-me-image.JPG");
    background-position: center;
    background-size: cover;
  }

  .sidebar-about-img{
    min-width: 11vw;
    max-width: none;
    height:13vw;

  }

  .sidebar-about-text{
    font-size:2vh;
    position: relative;
    left: 5%;
    top:10%;
    word-wrap: break-word;
    width:90%;
  }

  .sidebar-recent{
    width:90%;
    height:fit-content;
    position: relative;
    display: block;
    left:5%;
    top:10%;
    padding:5%;
  }

  .sidebar-recent-header{
    position: relative;
    width:100%;
    text-align: center;
    top:2%;
  }

  .sidebar-recent-posts{
    display: block;
    position: relative;
    left:5%;
    margin-top:10%;
    color:gray;

  }

  .sidebar-recent-posts-date{
    position: relative;
    left:5%;
    color:lightgray;
  }

  .sidebar-search{
    width: 90%;
    height:3%;
    position: relative;
    left:5%;
  }

  .sidebar-searchbar{
    width:70%;
    height:100%;
    position: relative;
    display: inline;
    left:5%;
    margin: 0;
    padding: 0;
    float:left;
    border-radius: 0;
    border: none;
  }

  .sidebar-search-icon{
    height:100% !important;
    width:20%;
    background-color: gray;
    border: none;
    display: inline;
    position: relative;
    height:inherit;
    cursor:pointer;
    padding:3%;
    margin: 0;
    float:right;
    right:5%;
  }

  .sidebar-search-icon:hover{
    background-color: lightgray;
  }

  .sidebar-newsletter{
    width:90%;
    height:30vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    left:5%;
    top:15%;
  }

  .sidebar-newsletter-header{
    position: relative;
    width:100%;
    text-align: center;
    bottom:2vh;
  }

  .sidebar-newsletter-input{
    position:relative;
    display: inline;
  }

  .sidebar-newsletter-submit{
    position: relative;
    display: inline;
    top:2vh;
  }

  footer{
    position: relative;
    display: block;
    height:5vh;
    bottom:0;
    width:100vw;
    margin-top:15vh;
    background-color: white;
  }

  .copyright{
    position: relative;
    display: inline-block;
    left:2vw;
  }

  .footer-links{
    display: inline-flex;
    position: relative;
    float:right;
    right:5vw;
  }

  .footer-item{
    margin-left:2vw;
    text-decoration: none;
    color:gray;
  }

  .footer-item:hover{
    color:black;
  }

  .archive-container{
    display: block;
    position: relative;
    top:5vh;
    left:5vw;
  }

  .login{
    position: relative;
    height:fit-content;
    width:20vw;
  }

  .login input{
    width:7vw;
    margin-left:2%;
  }

  .btn{
    height: 4.5vh !important;
    float:right;
    display: inline;
    text-align: center;
    padding-top:0 !important;
    padding-bottom:0 !important;
  }

  .sign-up-text{
    font-size: 2vh;
    margin-left:2%;
  }

  .register-container{
    width:60vw;
    position: relative;
    display: inline-block;
  }

  .login-container{
    width:60vw;
    position: relative;
    display: inline-block;
  }

  .form-group{
    display: flex;
    position: relative;
    flex-direction: column;
    width:40vw;
    margin-left: 10vw;
    margin-top:5vh;
    justify-content: flex-start;
    align-items: center;
  }

  .form-group legend{
    text-align: center;
  }

  .form-group input{
    margin:2%;
  }

  .policy-text{
    width:100%;
    text-align: center;
  }

  .form-group button{
    margin-top:2%;
  }

  .blog-post-container{
    width:60vw;
    height:70vh;
    position: relative;
    background-color: #f2f2f2;
    display: inline-grid;
    grid-template-areas: "post post comments";
    justify-content: space-around;
    top:3vh;
    left:0vw;
    overflow: hidden;
    margin-bottom:10vh;
  }

  .blog-post{
    grid-area: post;
    display: flex;
    position: relative;
    top:0;
    flex-direction: column;
    height:inherit;
  }

  .post-header{
    display: block;
    position: relative;
    top:10%;
    padding-left:5%;
    font-size: 6vh;
  }

  .post-subheader{
    display: block;
    position: relative;
    grid-area: header;
    padding-left:5%;
    top:10%;
    font-size: 2vh;
  }

  .post-poster{
    color: gray;
  }

  .post-date{
    color: gray;
  }

  .post-content{
    font-size: 2vh;
    padding-left: 5%;
    height:55%;
    display: block;
    position: relative;
    grid-area: body;
    top:10%;
    overflow: hidden;
    word-wrap: break-word;
    hyphens: auto;
    white-space: pre-wrap;
  }

  .post-content:after {
    position: absolute;
    grid-area: body;
    bottom: 0;
    height: 100%;
    width:100%;
    content: "";
    background: linear-gradient(to top,#f2f2f2,rgba(255,255,255, 0) 40%);
    pointer-events: none;
    left:0;
  }

  .post-read-more{
    z-index: 5;
    position: relative;
    display: block;
    top:15%;
    left:5%;
  }


  .blog-comments-container{
    height:90%;
    display: block;
    position: relative;
    top:5%;
    grid-area: comments;
  }

  .blog-comments{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    left: 5%;
    top:5%;
  }

  .comments-header{
    display: block;
    position: relative;
    float:left;
    text-align: left;
    width:100%;
  }

  .comment{
    display: block;
    height:10%;
    overflow: hidden;
    word-wrap: break-word;
  }

  .commenter{
    display: block;
    position: relative;
    left:5%;
    right:5%;
  }

  .comment-date{
    display: block;
    position: relative;
  }

  .comment-text{
    width:90%;
  }

  .policy-container{
    height:fit-content;
    position: relative;
    bottom:20vh;
    margin-top:25vh;
    z-index: -2;
  }



@media screen and (min-width:1024px) {

  .header-text{
    font-size: auto !important;
  }

  .blog-posts{
    width:55vw !important;
  }

  .sidebar{
    display: inline-block !important;
  }

  footer{
    height:5vh !important;
  }

  .footer-links{
    width:50% !important;
    justify-content: flex-end !important;
  }

  .blog-post-container{
    width:60vw !important;
    height:70vh !important;
  }

  .post-header{
    text-align: left !important;
  }

  .post-subheader{
    text-align: left !important;
  }

  .post-content{
    font-size: 3vh !important;
  }

  .post-read-more{
    font-size:3vh !important;
  }

  .blog-comments-container{
    display: block !important;
  }

}

@media screen and (min-width:320px){


  .header-text{
    font-size: 6vw;
  }

  .blog-posts{
    width:100vw;
  }

  .sidebar{
    display:none;
  }

  footer{
    height:5vh;
    font-size: 2vh;
  }

  .footer-links{
    width:100%;
    justify-content: center;
  }

  .blog-post-container{
    width:100vw;
    height:80vh;
  }

  .post-header{
    text-align: center;
  }

  .post-subheader{
    text-align: center;
  }

  .post-content{
    font-size: 4vh;
  }

  .post-read-more{
    font-size: 4vh;
  }

  .blog-comments-container{
    display: none;
  }
}
