

.blog-post-container{
  width:60vw;
  height:70vh;
  position: relative;
  background-color: #f2f2f2;
  display: inline-grid;
  grid-template-areas: "post post comments";
  justify-content: space-around;
  top:3vh;
  left:0vw;
  overflow: hidden;
  margin-bottom:10vh;
}

.blog-post{
  grid-area: post;
  display: flex;
  position: relative;
  top:0;
  flex-direction: column;
  height:inherit;
}

.post-header{
  display: block;
  position: relative;
  top:10%;
  padding-left:5%;
  font-size: 6vh;
}

.post-subheader{
  display: block;
  position: relative;
  grid-area: header;
  padding-left:5%;
  top:10%;
  font-size: 2vh;
}

.post-poster{
  color: gray;
}

.post-date{
  color: gray;
}

.post-content{
  font-size: 2vh;
  padding-left: 5%;
  height:55%;
  display: block;
  position: relative;
  grid-area: body;
  top:10%;
  overflow: hidden;
  word-wrap: break-word;
  hyphens: auto;
  white-space: pre-wrap;
}

.post-content:after {
  position: absolute;
  grid-area: body;
  bottom: 0;
  height: 100%;
  width:100%;
  content: "";
  background: linear-gradient(to top,#f2f2f2,rgba(255,255,255, 0) 40%);
  pointer-events: none;
  left:0;
}

.post-read-more{
  z-index: 5;
  position: relative;
  display: block;
  margin-top:10%;
  left:5%;
}


.blog-comments-container{
  height:90%;
  display: block;
  position: relative;
  top:5%;
  grid-area: comments;
}

.blog-comments{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  left: 5%;
  top:5%;
}

.comments-header{
  display: block;
  position: relative;
  float:left;
  text-align: left;
  width:100%;
}

.comment{
  display: block;
  height:10%;
  overflow: hidden;
  word-wrap: break-word;
}

.commenter{
  display: block;
  position: relative;
  left:5%;
  right:5%;
}

.comment-date{
  display: block;
  position: relative;
}

.comment-text{
  width:90%;
}

@media screen and (min-width:1024px){
  .blog-post-container{
    width:60vw !important;
    height:70vh !important;
  }

  .post-header{
    text-align: left !important;
  }

  .post-subheader{
    text-align: left !important;
  }

  .post-content{
    font-size: 3vh !important;
  }

  .post-read-more{
    font-size:3vh !important;
  }

  .blog-comments-container{
    display: block !important;
  }
}


@media screen and (min-width:320px) {
  .blog-post-container{
    width:100vw;
    height:80vh;
  }

  .post-header{
    text-align: center;
  }

  .post-subheader{
    text-align: center;
  }

  .post-content{
    font-size: 4vh;
  }

  .post-read-more{
    font-size: 4vh;
  }

  .blog-comments-container{
    display: none;
  }
}
