.post-poster{
  color: gray;
}

.post-date{
  color: gray;
}

.blog-page-post{
  width:60vw;
  height:fit-content;
  position: relative;
  display: inline-block;
  top:3vh;
  left:2vw;
  overflow: hidden;
  margin-bottom:10vh;
}

.blog-page-post-header{
  display: block;
  position: relative;
  width: 100%;
}
.blog-page-post-subheader{
  display: block;
  position:relative;
  width:100%;
}

.blog-page-post-content{
  height:inherit;
  white-space:pre-wrap;
  width:inherit;
  word-wrap: break-word;
  word-break:keep-all;
}

.blog-page-post-bottom{
  display: block;
  position: relative;
  z-index: 5;
  height:10vh;
  width:inherit;
  color:black;
}

.blog-page-post-bottom-icons{
  height:70%;
  width:50%;
  display: inline-flex;
  position:relative;
  flex-direction: row;
}

.bottom-icon-container{
  display: inline;
  position: relative;
  width:30%;
}

.bottom-icon{
  display:inline;
  font-size: 5vh;
  width:auto;
}

.bottom-icon:hover{
  cursor: pointer;
}

.bottom-count{
  display: inline;
  font-size: 5vh;
}

@media screen and (min-width:320px){
  .blog-page-post{
    width:95vw;
    font-size: 3vh;
  }

  .blog-page-post-header{
    font-size: 5vh;
  }

  .blog-page-post-subheader{
    font-size:4vh;
  }

  .blog-page-post-bottom-icons{
    width:100%;
  }
}
